.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  min-width: 50%;
}

.form {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 100%;
}

.button {
  margin-left: 0.5rem;
  cursor: pointer;
  height: 2.4rem;
  background-color: rgb(144, 202, 249);
}

.buttonspan {
  padding-right: 0.5rem;
}
